footer {
  width: 100%;
  height: 12%;
  color: $white;
  background-color: $prussian-blue;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 0;
    font: {
      size: 1em;
      weight: 400;
    }
  }

  ul {
    width: 50%;
    padding: 0;
    margin-top: 2em;
    list-style-type: none;

    display: flex;
    justify-content: space-around;

    li {
      width: 20%;
      text-align: center;
    }
  }

  p {
    font-size: 0.8em;
    padding: 0;
    margin-top: 0.5em;
  }
}
