header {
  width: 100%;
  height: 10%;
  color: $white;
  background-color: $rich-black-fogra-29;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  #headerLogo {
    width: 15%;

    img {
      width: 80%;
      height: 100%;
    }
  }

  #mainHeader {
    width: 85%;
    height: 100%;

    h2 {
      font-size: 2em;
      margin: 0;
    }

    p {
      font-size: 0.8em;
      font-weight: 300;
      margin: 0;
    }
  }
}
