#logInSection {
  width: 90%;
  color: black;
  border: 2px solid $battleship-grey;
  padding-bottom: 5px;
  background-color: $prussian-blue;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h3 {
    color: white;
    padding: 0.6em;
    margin: 0;
  }

  fieldset {
    width: 90%;
    background-color: lightgray;

    label {
      font-size: 0.8em;
    }

    input {
      width: 70%;
      display: block;
    }
  }

  button {
    margin-top: 0.8em;
    background-color: lightgray;
    color: black;

    border: 1px solid $battleship-grey;
    border-radius: 8px;
    transition: 0.1s;
    &:hover {
      transition: 0.3s;
      background-color: rgb(131, 131, 131);
      cursor: pointer;
    }
  }
}
